pip install base58
pip install ecdsa
pip install requests
pip install multiprocessing
pip install PySimpleGUI
pip install customtkinter 
pip install requests 
pip install psutil
pip install mnemonic
pip install bip44 

